.mavSlider {
    width: 100%;
    overflow: hidden;
}

.mavSlider .mavSlider__slides {
    width: 500%;
    display: flex;
}

.mavSlider .mavSlider__slide {
    width: 20%;
    transition: 1s;
    position: relative;
}

.mavSlider img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.mavSlider .mavSlider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mavSlider .mavSlider__controller {
    position: relative;
    margin-top: 7px;
}

.mavSlider .mavSlider__dots {
    width: 500%;
    display: flex;
}

.mavSlider .mavSlider__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    transition: 500ms;
}

.mavSlider .mavSlider__dot img {
    object-fit: cover;
    cursor: pointer;
    box-sizing: border-box;
}

.mavSlider .mavSlider__action {
    position: absolute;
    border: 0;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.mavSlider .mavSlider__action:hover {
    background-color: #e3dfdf;
}

.mavSlider .mavSlider__action.prev {
    left: 0;
}

.mavSlider .mavSlider__action.next {
    right: 0;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .5rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 10%, 50%);
    }

    100% {
        background-color: hsl(200, 10%, 75%);
    }
}